{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LobikoCongo</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'client/assets/img/icon.png' %}" />
    <!-- Bootstrap icons-->
    <link href="../../../cdn.jsdelivr.net/npm/bootstrap-icons%401.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'client/assets/css/styles.css' %}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <div class="bg-primary">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0 osahan-nav">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><img class="img-fluid"
                            src="{% static 'client/assets/img/logos.png' %}" alt="..." /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="/hopital">Recherche un hopital</a></li>
                            <li class="nav-item"><a class="nav-link" href="/pharmacie">Recherche un medicament</a></li>
                            <li class="nav-item"><a class="nav-link" href="/service">Recherche un service</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
            <!-- <footer class="bg-dark py-4 mt-auto copyright-footer">
                <div class="container px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="col-auto">
                            <div class="small m-0 text-white">Copyright &copy; LobikoCongo 2025 || Helpmetek</div>
                        </div>
                        <div class="col-auto">
                            <a class="link-light small" href="#">Politique</a>
                            <span class="text-white mx-1">&middot;</span>>
                            <a class="link-light small" href="#">Contact</a>
                        </div>
                    </div>
                </div>
            </footer> -->
            <script src="{% static 'client/assets/js/bootstrap.bundle.min.js' %}"></script>
            <!-- Core theme JS-->
            <script src="{% static 'client/assets/js/scripts.js' %}"></script>
</body>

</html>